In [2]:
import pandas as pd
import numpy as np

# DATA

In [3]:
path = "/mnt/c/Users/aniaf/Projects/PC/GAPP/DATA/AFR_prediction_albicans/10_variants_5sets/"

In [1]:
10 ** 5

100000

In [4]:
#dp = pd.read_csv(path + "bcftools_FLT2_snpEff_DP.tab", sep="\t", header=None, chunksize = 10 ** 5)
chunksize = 10 ** 5
filename = path + "bcftools_FLT2_snpEff_DP.tab"

R = []
i=0
for chunk in pd.read_csv(filename, sep="\t", header=None, chunksize=chunksize):
    print(i)
    dp_info = chunk.iloc[:, :5]
    dp_tab = chunk.iloc[:, 5:]

    DP_sum = dp_tab.sum(axis=1)
    DP_mean = dp_tab.mean(axis=1)

    dp_info['DPsum'] = DP_sum
    dp_info['DPmean'] = DP_mean

    dp_info.columns = ['#CHROM', 'POS', 'REF', 'ALT', 'TYPE', 'DPsum', 'DPmean']
    dp_info['TYPE'] = dp_info['TYPE'].replace({'.':'SNP','1':'INDEL'})

    R.append(dp_info)
    i+=1

dR = pd.concat(R, ignore_index=True)
print(dR.shape)
dR.head()

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [6]:
dR.head()

(1348658, 7)

                        #CHROM  POS REF ALT TYPE  DPsum     DPmean
0  Ca22chr1A_C_albicans_SC5314   62   T   C  SNP  15198  13.034305
1  Ca22chr1A_C_albicans_SC5314   64   A   C  SNP  18990  16.286449
2  Ca22chr1A_C_albicans_SC5314   70   A   G  SNP  31654  27.147513
3  Ca22chr1A_C_albicans_SC5314   75   T   A  SNP  41916  35.948542
4  Ca22chr1A_C_albicans_SC5314   82   G   A  SNP  59833  51.314751

In [7]:
dR.to_csv("11_07_get_DP.csv", sep=",", header=True, index=False)

# Whole at once example

In [20]:
dp_info = dp.iloc[:, :5]
dp_tab = dp.iloc[:, 5:]
dp_tab.head()

,5,6,7,8,9,10,11,12,13,14,...,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031
0,14,0,0,9,0,9,0,14,0,35,...,0,0,0,2,0,0,0,9,0,127
1,21,0,0,17,0,14,0,21,0,45,...,0,0,0,2,0,0,0,11,0,136
2,59,0,0,21,1,37,1,154,0,110,...,0,0,0,8,0,11,0,23,0,143
3,97,0,0,31,1,59,1,212,0,170,...,0,0,0,13,0,12,0,27,0,152
4,144,0,0,47,0,84,2,248,0,246,...,0,0,0,40,0,52,0,62,0,188

# Sum of DP per SNP

In [10]:
DP_sum = dp_tab.sum(axis=1)
DP_sum

0         14622
1         18184
2         30387
3         40217
4         56806
          ...
886001    97734
886002    95281
886003    93114
886004    92982
886005    91491
Length: 886006, dtype: int64

# Mean DP per SNP

In [11]:
DP_mean = dp_tab.mean(axis=1)
DP_mean

0         14.237585
1         17.705940
2         29.588121
3         39.159688
4         55.312561
            ...
886001    95.164557
886002    92.776047
886003    90.666018
886004    90.537488
886005    89.085686
Length: 886006, dtype: float64

# Combine

In [21]:
dp_info['DPsum'] = DP_sum
dp_info['DPmean'] = DP_mean
dp_info.head()

                             0   1  2  3  4  DPsum     DPmean
0  Ca22chr1A_C_albicans_SC5314  62  T  C  .  14622  14.237585
1  Ca22chr1A_C_albicans_SC5314  64  A  C  .  18184  17.705940
2  Ca22chr1A_C_albicans_SC5314  70  A  G  .  30387  29.588121
3  Ca22chr1A_C_albicans_SC5314  75  T  A  .  40217  39.159688
4  Ca22chr1A_C_albicans_SC5314  82  G  A  .  56806  55.312561

In [24]:
dp_info.columns = ['#CHROM', 'POS', 'REF', 'ALT', 'TYPE', 'DPsum', 'DPmean']
#dp_info = dp_info.drop(columns = ['REF', 'ALT', 'TYPE']).reset_index(drop=True)

dp_info['TYPE'] = dp_info['TYPE'].replace({'.':'SNP','1':'INDEL'})
print(dp_info.shape)
dp_info.head()

(886006, 7)

                        #CHROM  POS REF ALT TYPE  DPsum     DPmean
0  Ca22chr1A_C_albicans_SC5314   62   T   C  SNP  14622  14.237585
1  Ca22chr1A_C_albicans_SC5314   64   A   C  SNP  18184  17.705940
2  Ca22chr1A_C_albicans_SC5314   70   A   G  SNP  30387  29.588121
3  Ca22chr1A_C_albicans_SC5314   75   T   A  SNP  40217  39.159688
4  Ca22chr1A_C_albicans_SC5314   82   G   A  SNP  56806  55.312561

In [25]:
dp_info.to_csv("11_07_get_DP.csv", sep=",", header=True, index=False)